* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.fa-american-sign-language-interpreting {
  animation: rotating 1s linear infinite;
  font-size: 70px;
  color: white;
  text-shadow: 0 0 7px black;
}

@keyframes rotating {
  0% {transform: rotate(0deg)}
  0% {transform: rotate(360deg)}
}